<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pyrion.poison_frog">

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_frog_jelly"
        android:label="@string/show_app_name"
        android:roundIcon="@drawable/main_frog_jelly"
        android:supportsRtl="true"
        android:theme="@style/Theme.Poison_frog_no_actionbar">
        <activity
            android:name=".FrogHouseActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Poison_frog">
        </activity>
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FlyGameActivity"></activity>
    </application>

</manifest>